$color-hamburger-items : #000;
$color-icon-items : #000a12;
$font-hamburger-items : Trip Sans, Arial, sans-serif;
html, body{
  width: 100%;
  height: 100%;
}
.center {
  margin-right: auto;
  margin-left: auto;
  width : 150px;
}
.dlsrch
{
  height: 60px;
}
#search-input
{
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: medium;
}
.inputWithIcon
{
  position: relative;
}
.inputWithIcon input[type = text]
{
  padding-right: 35px;
}
.inputWithIcon i
{
  position: absolute;
  right: 23px;
  top: 24px;
}
@media screen and (max-width: 768px)
{
  .center {
    width : 110px;
    margin-right: 20%;
    margin-left: 10%;
  }
  .dlsrch {
    font-size: 15px;
    display: block;
    height: 50px;
  }
  .lb
  {
    display: none;
  }
  #dls-input
  {
    margin-top: 20px;
    margin-left: 50px;
  }
  #search-input
  {
    margin-left: 35px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-size: medium;
  }
  .inputWithIcon i
  {
    position: absolute;
    right: -13px;
    top: 18px;
  }
}

#writereview:hover {
  color: #000;
  cursor: pointer;
  opacity: 0.8;
}
#buttlogin
{
  background-color: #fff;
  color: #000;
}
#buttjoin
{
  background-color: #000;
  color : #fff;
}
#buttlogin, #buttjoin
{
  margin-top: 10px;
  width : 130px;
  height: 40px;
  background-clip: padding-box;
  padding: 8px 16px;
  box-sizing: border-box;
  border-color: #000;
  border-radius: 3px;
  font-Family : inherit;
  font-size: 14px;
  font-weight: 550;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#buttlogin:hover {
  background-color: #d6d6d6;
  border-color: #000
}
#buttjoin:hover
{
  border-color: #292929;
  background-color: #292929;
}

.collapse-items
{
  color: $color-hamburger-items;
  display: flex;
  cursor: pointer;
  font-family: $font-hamburger-items;
  font-size: medium;
  align-items: center;
  padding: 12px 6px;
}
.colap-items
{
  flex: 1 1 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: $color-hamburger-items;
  font-family: $font-hamburger-items;
}

.collapse-items:hover {
  color: $color-hamburger-items;
  background-color: transparent;
  text-decoration: underline;
}
.colpse-items-hr
{
  color: $color-hamburger-items;
  display: block;
  padding: 6px 9px 11px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: $font-hamburger-items;
}
.colpse-items-hr:hover {
  color: $color-hamburger-items;
  text-decoration: none;
  background-color :  #f2f2f2;
}
.categories
{
  color: $color-icon-items;
  display: block;
  height: 100px;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  font-family: $font-hamburger-items;
}
.categories:hover
{
  color: $color-icon-items;
  background-color: transparent;
  text-decoration: underline;
}
.cntborder
{
  background-color: #fff;
}
.big
{
  margin-top: 13px;
  width: 13px;
  height: 13px;
}
#inlinehotelsCheck, #inlineflightsCheck,
{
  margin-left: -40px;
}
#inlineattractionsCheck, #inlinerestaurantsCheck

{
  margin-left: -62px;
}
#inlinerentalsCheck
{
  margin-left: -78px;
}
#inlinecruisesCheck
{
  margin-left: -43px;
}
.tbl-categories
{
  display: none !important;
}
@media (max-width:800px)
{
  .ctg
  {
    display: none !important;
  }
  .tbl-categories
  {
    display: table !important;
  }
  #writereview
  {
    display: none;
  }
  .categories
  {
    height: 82px;
    position: relative;
    overflow: inherit;
    text-overflow: clip;
    font-size: 15px;
  }
  td
  {
    background-color: #fff;
    span
    {
      top: -5px;
      left: -20px;
    }
    .fas
    {
      font-size:20px;
    }
  }
  .big
  {
    margin-top: 12px;
    width: 13px;
    height: 13px;
  }

  #inlineattractionsCheck
  {
    margin-left:-60px;
  }
  #inlinerentalsCheck
  {
    margin-left: -75px;
  }
}
@media screen and (max-width:500px)
{
  .categories
  {
    padding: 10px 5px;
    width: 83px;
    height: 82px;
    font-size: 12px;
  }
  #inlinehotelsCheck, #inlineflightsCheck,#inlinecruisesCheck
  {
    margin-left: -30px;
  }
  #inlineattractionsCheck, #inlinerestaurantsCheck
  {
    margin-left: -45px;
  }
  #inlinerentalsCheck
  {
    margin-left: -35px;
  }
}


/*# sourceMappingURL=whub.css.map */
