$color-hamburger-items : #000;
$color-icon-items : #000a12;
$font-hamburger-items : Trip Sans, Arial, sans-serif;
html, body{
  width: 100%;
  height: 100%;
}
.center {
  width : 150px;
}
.dlsrch
{
  height: 60px;
}
#search-input
{
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: medium;
}
.inputWithIcon
{
  position: relative;
}
.inputWithIcon input[type = text]
{
  padding-right: 35px;
}
.inputWithIcon i
{
  position: absolute;
  right: 23px;
  top: 24px;
}
@media screen and (max-width: 768px)
{
  .center {
    width : 110px;
  }
  .dlsrch {
    font-size: 15px;
    display: block;
    height: 50px;
  }
  .lb
  {
    display: none;
  }
  #dls-input
  {
    margin-top: 20px;
    margin-left: 50px;
  }
  #search-input
  {
    margin-left: 35px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-size: medium;
  }
  .inputWithIcon i
  {
    position: absolute;
    right: -13px;
    top: 18px;
  }
}

#profile:hover, #writereview:hover {
  color: #000;
  cursor: pointer;
  opacity: 0.8;
}
#buttlogin
{
  background-color: #fff;
  color: #000;
}
#buttjoin
{
  background-color: #000;
  color : #fff;
}
#buttlogin, #buttjoin
{
  margin-top: 10px;
  width : 130px;
  height: 40px;
  background-clip: padding-box;
  padding: 8px 16px;
  box-sizing: border-box;
  border-color: #000;
  border-radius: 3px;
  font-Family : inherit;
  font-size: 14px;
  font-weight: 550;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#buttlogin:hover {
  background-color: #d6d6d6;
  border-color: #000
}
#buttjoin:hover
{
  border-color: #292929;
  background-color: #292929;
}

.collapse-items
{
  color: $color-hamburger-items;
  display: flex;
  cursor: pointer;
  font-family: $font-hamburger-items;
  font-size: medium;
  align-items: center;
  padding: 12px 6px;
}
.colap-items
{
  flex: 1 1 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  color: $color-hamburger-items;
  font-family: $font-hamburger-items;
}

.collapse-items:hover {
  color: $color-hamburger-items;
  background-color: transparent;
  text-decoration: underline;
}

.colpse-items-hr
{
  color: $color-hamburger-items;
  display: block;
  padding: 6px 9px 11px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: $font-hamburger-items;
}
.colpse-items-hr:hover {
  color: $color-hamburger-items;
  text-decoration: none;
  background-color :  #f2f2f2;
}
.categories
{
  color: $color-icon-items;
  display: block;
  height: 100px;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  font-family: $font-hamburger-items;
}
.categories:hover
{
  color: $color-icon-items;
  background-color: transparent;
  text-decoration: underline;
}

#hotelsCheck, #flightsCheck,
{
  margin-top: 15px;
  margin-left: 28px;
}
#attractionsCheck, #restaurantsCheck

{
  margin-top: 15px;
  margin-left: 50px;
}
#rentalsCheck
{
  margin-top: 15px;
  margin-left: 66px;
}
#cruisesCheck
{
  margin-top: 15px;
  margin-left: 35px;
}
@media screen and (max-width: 500px)
{
  .categories
  {
    width: 80px;
    height: 82px;
    position: relative;
    overflow: inherit;
    text-overflow: clip;
    font-size: 14px;
  }
  td
  {
    span
    {
      top: -5px;
      left: -20px;
    }
    .fas
    {
      font-size:22px;
    }
  }
  #hotelsCheck, #flightsCheck, #cruisesCheck

  {
    margin-top: 9px;
    margin-left: 17px;
  }
  #attractionsCheck
  {
    margin-top: 27px;
    margin-left: 10px;
  }
  #restaurantsCheck
  {
    margin-top: 9px;
    margin-left: 43px;
  }
  #rentalsCheck
  {
    margin-top: 26px;
    margin-left: 18px;
  }
}


/*# sourceMappingURL=whub.css.map */
